
body{
  background-color: rgb(241, 149, 11);
}

#kids-button{
  float: right;
  margin-top: -300px;
}

#header-img
{
  margin-left: -1%;
  margin-top: -75px;
}

#footer-img{
  display: none;
}

#footer-img-k
{
  margin-bottom: -1%;
  margin-left: -1%;
  margin-top: 3%;
}
