<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="css/main.css">
  {{#if kidsmode}}
      <link rel="stylesheet" href="stylesheets/kids.css">
  {{/if}}

  <title>{{ title }}</title>
</head>

<header>
    <img src="images/header.jpg" alt="header image" id="header-img">
    <div id="admin-container">
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
</header>


  {{{ body }}}


  <footer>
  <div class="bottom-stars">
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
  </div>
  </div>

  <img src="images/footer.jpg" alt="footer image" id="footer-img">
  </footer>
  <script src="javascripts/main.js"></script>

</html>
