
<title>HOME page</title>

    <h1>Welcome to the adults page</h1>


        <h3>This is your movie selection:</h3>

        <div class="movie-box">
          <a href="../videos/amelie.mp4"><img src="../images/amelie.jpg" alt=""></a>
            <h2>amelie</h2>
            <h3 class="genre">genre</h3>
              <h3><i class="fas fa-star"></i></i>67 <span class="year">2017</span></h3>
            <p>Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity.</p>
              <a href="#"><i class="fab fa-facebook-square social"></i></a>
              <a href="#"><i class="fab fa-twitter-square social"></i></a>
              <a href="../videos/amelie.mp4" class="play"><i class="fas fa-play-circle"></i>PLAY</a>

            <div class="lightbox">
                <i class="fas fa-times-circle close-lightbox"></i>

                <h2>amelie</h2>

                <video width="320" height="240" controls>
                    <source src="movie.mp4" type="video/mp4">
                </video>
                <video src="amelie.mp4" autoplay poster="amelie.jpg"></video>

                <a href="#"><i class="fab fa-facebook-square social"></i></a>
                <a href="#"><i class="fab fa-twitter-square social"></i></a>
        </div>


  <section id="movies-container">



    <div class="box"></div>

  </section>


  <section id="music-container">

    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>

      <h3>This is your music selection:</h3>
      <div class="audio-box"></div>

  </section>
