<section class="home-container">
    <h2>Hello, this is home page</h2>
    <h3>Choose your profile:</h3>
<br><br>
    <!-- <a href="/getData" class="get-posts">Get Movies</a> -->
  <div id="profiles">
    <div class="profile">
      <i class="fas fa-shield-alt"></i>
      <a href="/adults" class="button">Adults</a>
    </div>
    <div class="profile2">
      <i class="fas fa-rocket"></i>
      <a href="/kids" class="button">Kids</a>
    </div>
  </div>

</section>
