
    <title>KIDS page</title>

    <h1>hello, this is the Kids page</h1>
    <div class="movie-box">
      <img src="../images/amelie.jpg" alt="">
      <h2>Movie Title</h2>
      <h3><i class="fas fa-star"></i></i>89% <span class="year">2001</span></h3>
      <p>Dessert bear claw jelly-o halvah pie cupcake gummies. Marshmallow powder fruitcake. Liquorice cookie chocolate cake brownie candy canes. Gingerbread sweet jelly-o danish cake jelly pudding. Dragée jelly powder apple pie lollipop lollipop donut cupcake. Jelly beans marshmallow gingerbread. Marshmallow pie donut dessert topping cake pie.</p>
    </div>

    <div class="movie-box">
      <img src="../images/amelie.jpg" alt="">
      <h2>Movie Title</h2>
      <h3><i class="fas fa-star"></i></i>89% <span class="year">2001</span></h3>
      <p>Dessert bear claw jelly-o halvah pie cupcake gummies. Marshmallow powder fruitcake. Liquorice cookie chocolate cake brownie candy canes. Gingerbread sweet jelly-o danish cake jelly pudding. Dragée jelly powder apple pie lollipop lollipop donut cupcake. Jelly beans marshmallow gingerbread. Marshmallow pie donut dessert topping cake pie.</p>
    </div>

    <div class="movie-box">
      <img src="../images/amelie.jpg" alt="">
      <h2>Movie Title</h2>
      <h3><i class="fas fa-star"></i></i>89% <span class="year">2001</span></h3>
      <p>Dessert bear claw jelly-o halvah pie cupcake gummies. Marshmallow powder fruitcake. Liquorice cookie chocolate cake brownie candy canes. Gingerbread sweet jelly-o danish cake jelly pudding. Dragée jelly powder apple pie lollipop lollipop donut cupcake. Jelly beans marshmallow gingerbread. Marshmallow pie donut dessert topping cake pie.</p>
    </div>

    <div class="movie-box">
      <img src="../images/amelie.jpg" alt="">
      <h2>Movie Title</h2>
      <h3><i class="fas fa-star"></i></i>89% <span class="year">2001</span></h3>
      <p>Dessert bear claw jelly-o halvah pie cupcake gummies. Marshmallow powder fruitcake. Liquorice cookie chocolate cake brownie candy canes. Gingerbread sweet jelly-o danish cake jelly pudding. Dragée jelly powder apple pie lollipop lollipop donut cupcake. Jelly beans marshmallow gingerbread. Marshmallow pie donut dessert topping cake pie.</p>
    </div>

    <div class="movie-box">
      <img src="../images/amelie.jpg" alt="">
      <h2>Movie Title</h2>
      <h3><i class="fas fa-star"></i></i>89% <span class="year">2001</span></h3>
      <p>Dessert bear claw jelly-o halvah pie cupcake gummies. Marshmallow powder fruitcake. Liquorice cookie chocolate cake brownie candy canes. Gingerbread sweet jelly-o danish cake jelly pudding. Dragée jelly powder apple pie lollipop lollipop donut cupcake. Jelly beans marshmallow gingerbread. Marshmallow pie donut dessert topping cake pie.</p>
    </div>

    <div class="movie-box">
      <img src="../images/amelie.jpg" alt="">
      <h2>Movie Title</h2>
      <h3><i class="fas fa-star"></i></i>89% <span class="year">2001</span></h3>
      <p>Dessert bear claw jelly-o halvah pie cupcake gummies. Marshmallow powder fruitcake. Liquorice cookie chocolate cake brownie candy canes. Gingerbread sweet jelly-o danish cake jelly pudding. Dragée jelly powder apple pie lollipop lollipop donut cupcake. Jelly beans marshmallow gingerbread. Marshmallow pie donut dessert topping cake pie.</p>
    </div>

    <div class="movie-box">
      <img src="../images/amelie.jpg" alt="">
      <h2>Movie Title</h2>
      <h3><i class="fas fa-star"></i></i>89% <span class="year">2001</span></h3>
      <p>Dessert bear claw jelly-o halvah pie cupcake gummies. Marshmallow powder fruitcake. Liquorice cookie chocolate cake brownie candy canes. Gingerbread sweet jelly-o danish cake jelly pudding. Dragée jelly powder apple pie lollipop lollipop donut cupcake. Jelly beans marshmallow gingerbread. Marshmallow pie donut dessert topping cake pie.</p>
    </div>
