
    <title>KIDS page</title>

    <h1>Hello, this is the Kids page</h1>

    <section id="movies-container">

      <h3>This is your movie selection:</h3>
      <div class="kids-box"></div>

    </section>

    <section id="music-container">

        <h3>This is your music selection:</h3>
        <div class="kids-audio-box"></div>

    </section>
