body {
  font-family: 'Roboto', sans-serif;
  background: #212629;
  color: white; }

#container {
  clear: both;
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden; }

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 45px; }

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px; }

h3 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center; }

#admin-container {
  margin: 0 auto;
  border-radius: 6px;
  width: 50%;
  padding: 15px;
  text-align: center; }

.button {
  color: white;
  font-weight: bold;
  width: 300px;
  height: 50px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 8px;
  background: #a9e4f7;
  background: -moz-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  background: -webkit-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
  background: linear-gradient(135deg, #a9e4f7 0%, #0fb4e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); }
  .button:hover {
    background: #13b1ef;
    background: -moz-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    background: -webkit-linear-gradient(-45deg, #13b1ef 0%, #007da0 100%);
    background: linear-gradient(135deg, #13b1ef 0%, #007da0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b1ef', endColorstr='#007da0',GradientType=1 ); }

#footer-img {
  margin: 0 auto;
  width: 102%;
  margin-bottom: -1%;
  margin-top: 3%;
  margin-left: -1%; }

#header-img {
  margin-top: -1%;
  margin: 0 auto;
  width: 102%; }

.fa-star {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.2em;
  margin: 0 auto;
  color: #1587AC; }

.fa-home {
  font-size: 2em;
  padding-left: 15px;
  padding-top: 15px;
  color: white; }

.home-container {
  height: 100%;
  width: 50%;
  border: 3px solid #1587AC;
  text-align: center;
  margin: 0 auto; }
  .home-container #profiles {
    clear: both;
    width: 180px;
    margin-bottom: 100px;
    margin: 0 auto;
    padding-bottom: 150px; }
    .home-container #profiles .profile, .home-container #profiles .profile2 {
      width: 75px;
      height: 150px; }
    .home-container #profiles .profile {
      float: left;
      padding-right: 10px; }
    .home-container #profiles .profile2 {
      float: right;
      padding-left: 10px; }
    .home-container #profiles .fa-rocket, .home-container #profiles .fa-shield-alt {
      font-size: 4em;
      clear: both;
      padding-bottom: 20px;
      margin: 0 auto; }

#bottom-stars {
  padding-top: 150px;
  clear: both; }

#movies-container {
  margin: 0 auto;
  max-width: 1366px;
  width: 95%;
  overflow: hidden;
  clear: both;
  margin-bottom: 50px; }

.movie-box {
  float: left;
  margin-left: 35px;
  width: 200px;
  margin-top: 25px;
  border-bottom: 1px dotted #1587AC; }
  .movie-box img {
    height: 270px;
    width: 190px; }
    .movie-box img:hover {
      opacity: 0.85; }
  .movie-box .play {
    text-decoration: none;
    color: #1587AC;
    padding: 5px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px; }
    .movie-box .play:hover {
      color: #00c1ff; }
  .movie-box h2 {
    color: #1587AC;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 0px; }
  .movie-box h3 {
    color: #1587AC;
    padding: 5px;
    margin: 0;
    font-size: 13px;
    text-align: left; }
  .movie-box .genre {
    color: #1587AC;
    font-size: 10px; }
  .movie-box h4 {
    padding: 5px;
    margin: 0;
    font-size: 13px;
    text-align: left; }
  .movie-box p {
    font-family: 'Quicksand';
    font-size: 10px;
    padding: 5px;
    height: 80px; }
  .movie-box .fa-star {
    font-size: 0.8em;
    margin-right: 5px;
    padding: 0; }
  .movie-box .year {
    color: white;
    font-size: 11px;
    float: right;
    padding-right: 10px; }
  .movie-box .fa-play-circle {
    margin-right: 8px; }
  .movie-box .social {
    color: #1587AC;
    font-size: 16px;
    float: left;
    padding: 8px; }
    .movie-box .social:hover {
      color: white; }

#music-container {
  margin-top: 35px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  clear: both; }

.music-box {
  float: left;
  margin-left: 35px;
  width: 300px;
  margin-top: 25px;
  border-bottom: 1px dotted #1587AC; }
  .music-box img {
    margin: 15px, 0;
    height: 300px;
    width: 300px; }
  .music-box h2 {
    color: #1587AC;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 0px; }
  .music-box h3 {
    font-size: 12px;
    font-weight: 400;
    float: left;
    padding: 5px;
    margin-left: 3px;
    color: #1587AC; }
  .music-box .title {
    font-weight: 300;
    color: white;
    clear: both;
    float: none;
    text-align: left;
    font-size: 14px;
    text-transform: none;
    margin: 0; }
  .music-box .year {
    float: right;
    font-weight: bold;
    color: white; }

.lightbox {
  display: none; }

/*# sourceMappingURL=main.css.map */
